$ligthColor: #ffffff;
$darkBack:  hsl(207, 26%, 17%);
$ligthText: hsl(0, 0%, 100%);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  overflow-x: hidden;
}
.dark-theme{
  background-color: $darkBack;
  color: $ligthColor;
  button{
      background-color: $darkBack;
      color: $ligthColor;
  }
}